/* Flex Container Styles */
.Container {
    display: flex;
    flex-direction: row;
    align-content: flex-start ;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
}

  /* Flex Item Styles */
.Item {
    order: 5;
    margin: 10px;
}

  /* Flex Directions */
.Row {
    flex-direction: row;
}

.Col {
    flex-direction: column;
}