@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cantata+One&display=swap');

.container {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.col {
    flex: 1;
}

.main-content {
    flex-grow: 2; /* Adjust this value to give more space to the main content */
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #465902; 
    position: relative; 
}

.logo-text {
    font-family: 'Bad Script'; 
    font-size: 24px; 
    color: #e7e3e2; 
    letter-spacing: 2px; 
}


.nav-link {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-link li {
    margin-right: 20px;
}

.nav-link li:last-child {
    margin-right: 0; 
}

.nav-link li a {
    font-family: 'Bad Script';
    text-decoration: none;
    color:   #BFADA3;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link li a:hover {
    color: #400C16;
}


.navbar-input {
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc; 
    padding: 10px;
}

.nav-button {
    font-family: 'Bad Script';
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #BFADA3;
    background-color: #400C16;
    padding: 5px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 3px;
}

.nav-button:hover {
    background-color: #400C16;
}

.recipe-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* Add any additional styling based on your design needs */
  }
  
  .recipe-details {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .recipe-details li {
    margin-bottom: 8px;
  }