@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cantata+One&display=swap');

.container {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-4 {
    flex: 1;
}

.col-12 {
    flex: 3; /* Adjust the flex value for the main content */
}

.main-content {
    flex-grow: 2; /* Adjust this value to give more space to the main content */
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #465902; 
    position: relative; 
}

.logo-text {
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    font-size: 24px; 
    color: #e7e3e2; 
    letter-spacing: 2px; 
}


.nav-link {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-link li {
    margin-right: 20px;
}

.nav-link li:last-child {
    margin-right: 0; 
}

.nav-link li a {
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    text-decoration: none;
    color:   #BFADA3;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link li a:hover {
    color: #400C16;
}


.navbar-input {
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc; 
    padding: 10px;
}

.nav-button {
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #BFADA3;
    background-color: #400C16;
    padding: 5px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 3px;
}

.nav-button:hover {
    background-color: #400C16;
}

.plate-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.plate {
    height: 280px;
    width: 280px;
    border: 2px solid #400C16;
    border-radius: 50%;
    padding: 16px;
    margin: 16px;
    background-color: #e7e3e2; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}
.plate:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.recipe-details {
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-details li {
    margin-bottom: 8px;
}

.plate-button {
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    margin-top: 10px; 
    cursor: pointer;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh; 
}

.header, .footer {
    
}

.main-content {
    flex-grow: 1;
}


.plate-image {
    width: 280px;
    height: 280px;
    z-index: -1;
    border-radius: 50%;
    
}