@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cantata+One&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh; 
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-col {
    flex: 1;
}

.col-12 {
    flex: 3; /* Adjust the flex value for the main content */
}

.main-content {
    flex-grow: 2; /* Adjust this value to give more space to the main content */
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #465902; 
    position: relative; 
}

.logo-text {
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    font-size: 24px; 
    color: #e7e3e2; 
    letter-spacing: 2px; 
}


.nav-link {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-link li {
    margin-right: 20px;
}

.nav-link li:last-child {
    margin-right: 0; 
}

.nav-link li a {
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    text-decoration: none;
    color:   #BFADA3;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link li a:hover {
    color: #400C16;
}


.navbar-input {
    font-family: 'Cantata One', sans-serif;
    margin: 4px;
    border: none;
    border-radius: 5px;
    border: 1px solid #465902; 
    padding: 10px;
}

.nav-user {
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 4px;
    background-color: #334103;
    text-decoration: none;
    color: #BFADA3;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-user:hover {
    color: #400C16;
}

.search-form {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    
}

.search-bar{
    display: flex;
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    text-decoration: none;
    font-size: 28px;
    width: 800px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
    

}

.search-bar:hover, .search-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.search-button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    padding: 20px;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "Cantana One",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.search-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.search-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.search-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


.plate-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.plate {
    height: 280px;
    width: 280px;
    border: 2px solid #400C16;
    border-radius: 50%;
    padding: 16px;
    margin: 16px;
    background-color: #e7e3e2; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}
.plate:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.recipe-details {
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-details li {
    margin-bottom: 8px;
}

.plate-button {
    font-family: 'Bad Script', 'Cantata One', sans-serif;
    margin-top: 10px; 
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
}


.plate-image {
    width: 280px;
    height: 280px;
    z-index: -1;
    border-radius: 50%;
    
}


/* Media queries for responsiveness */
@media (min-width: 576px) {
    /* Small screens and above */
    .row {
        flex-wrap: wrap; /* Allow items to wrap to the next row */
    }

    .col-6 {
        width: 48%; /* Two columns in a row for screens 576px and above */
    }
}

@media (min-width: 768px) {
    /* Medium screens and above */
    .col-6 {
        width: 31.33%; /* Three columns in a row for screens 768px and above */
    }
}

@media (min-width: 992px) {
    /* Large screens and above */
    .col-6 {
        width: 23.5%; /* Four columns in a row for screens 992px and above */
    }
}

@media (min-width: 1200px) {
    /* Extra-large screens and above */
    .col-6 {
        width: 19%; /* Five columns in a row for screens 1200px and above */
    }
}